[Unit]
Description=Razor Socket Service

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/local/bin/razorsocket

User=razorsocket
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target
